.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 80px;
}

.login-card {
  background-color: #FEF1F4;
  width: 100%;
  max-width: 500px;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  border: 2px solid #8596B4;
}

.login-title {
  font-family: 'Georgia', serif;
  color: #092E4C;
  font-size: 2rem;
  margin-bottom: 25px;
  text-align: center;
  border-bottom: 3px solid #8596B4;
  padding-bottom: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.login-label {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1rem;
  color: #092E4C;
  font-family: 'Verdana', sans-serif;
}


.login-input {
  flex: 1;
  padding: 12px;
  border: 2px solid #8596B4;
  border-radius: 6px;
  background-color: #FAEBF1;
  font-size: 1rem;
  color: #092E4C;
}

.login-input:focus {
  outline: none;
  border-color: #092E4C;
}

.login-button {
  padding: 12px;
  background-color: #8596B4;
  color: #092E4C;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #EAACBC;
}

.login-error {
  color: #092E4C;
  background-color: #EAACBC;
  padding: 8px;
  border-radius: 6px;
  font-size: 0.9rem;
}

.login-success {
  color: #092E4C;
  background-color: #aceac1;
  padding: 8px;
  border-radius: 6px;
  font-size: 0.9rem;
  text-align: center;
}


